/* .month-grid {

  display: grid;

  grid-template-columns:
    repeat(
      auto-fill,
      minmax(250px,1fr)
    );

  gap: 16px;

  padding: 16px;
} */

.finance-header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px;
  padding-top: 80px;
  /* margin-bottom: 20px; */
/* 
  padding: 16px;

  margin-bottom: 12px; */
}

.finance-title {

  margin: 0;

  font-size: 28px;

  font-weight: 700;
}

.month-grid {

  display: grid;

  grid-template-columns:
    repeat(2, 1fr);

  gap: 14px;

  padding: 16px;
}

.month-card {

  padding: 18px;

  border-radius: 20px;

  background:
    linear-gradient(
      145deg,
      rgba(255,255,255,.06),
      rgba(255,255,255,.02)
    );

  border:
    1px solid rgba(255,255,255,.08);

  cursor: pointer;

  transition: .2s ease;
}

.month-card:hover {

  transform:
    translateY(-2px);
}

.finance-modal {

  width: 92%;
  max-width: 700px;

  max-height: 85vh;
  padding: 24px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.finance-modal > h2 {
  margin-top: 20px;
}
.finance-balance-card {

  margin-top: 20px;

  padding: 20px;

  border-radius: 18px;

  background:
    rgba(255,255,255,.05);

  border:
    1px solid
    rgba(255,255,255,.08);
}

.finance-balance-card > div {
  padding-bottom: 5px;
}

.finance-balance-card > h3 {
  color: #999;
}

.add-finance-fab {

  position: fixed;

  right: 24px;
  bottom: 120px;

  width: 55px;
  height: 55px;

  border: none;

  border-radius: 35%;

  background:
    linear-gradient(
      145deg,
      rgba(255,255,255,.12),
      rgba(255,255,255,.04)
    );

  color: white;

  font-size: 28px;

  cursor: pointer;

  z-index: 999;
}

.finance-transactions {

  flex: 1;

  overflow-y: auto;

  min-height: 0;

  padding-bottom: 30px;
}

.finance-row {

  border-bottom:
    1px solid rgba(255,255,255,.06);

  padding: 12px 0;
}

.finance-date {

  font-weight: 600;

  font-size: 15px;
}

.finance-expense {

  font-weight: 600;

  color: white;
}

.finance-table-header {

  padding: 0 12px 12px;

  color: #888;

  font-size: 13px;

  font-weight: 600;

  border-bottom:
    1px solid rgba(255,255,255,.08);
}

.finance-notes {

  font-size: 12px;

  color: #777;

  margin-top: 4px;
}

.finance-balance-row {

  display: flex;

  gap: 12px;

  margin-bottom: 20px;
  /* margin-top: 10px; */
}

.finance-balance-card {

  flex: 1;

  padding: 16px;

  border-radius: 18px;

  background:
    rgba(255,255,255,.05);

  border:
    1px solid rgba(255,255,255,.08);
}

.finance-notes {

  display: flex;

  flex-wrap: wrap;

  gap: 6px;

  margin-top: 6px;
}

.finance-note-chip {

  padding: 4px 8px;

  border-radius: 999px;

  background:
    rgba(255,255,255,.06);

  font-size: 11px;

  color: #aaa;
}

.finance-row-header {

  display: grid;

  grid-template-columns:
    1fr
    80px
    100px;

  align-items: center;
  padding: 0 12px;
  cursor: pointer;
}

.finance-table-header,
.finance-row-header {

  display: grid;

  grid-template-columns:
    1.5fr
    1fr
    1fr;

  align-items: center;

  gap: 12px;
}

.finance-count {

  font-size: 12px;

  color: #777;

  margin-top: 4px;
}

.finance-expanded {

  margin-top: 12px;

  margin-left: 0;

  padding-left: 12px;

  display: flex;

  flex-direction: column;

  gap: 8px;
}

.finance-entry {

  display: grid;

  grid-template-columns:
    1fr
    100px;

  max-width: 220px;

  color: #888;
  font-size: 14px;
}

.finance-date-group {

  display: flex;

  align-items: center;

  gap: 8px;
}

.finance-chevron {

  font-size: 30px;

  color: #777;

  transition: transform .2s ease;
}

.finance-chevron.open {

  transform: rotate(180deg);
}

.finance-entry-amount {
  padding-left: 12px;
}

.add-month-fab {

  position: fixed;

  right: 24px;

  bottom: 185px;

  width: 55px;

  height: 55px;

  border: none;

  border-radius: 35%;

  font-size: 22px;

  cursor: pointer;

  z-index: 999;

  background:
    rgba(255,255,255,.08);

  color: white;
}

.month-stat {

  display: flex;

  justify-content:
    space-between;

  margin-top: 10px;

  font-size: 14px;
}

.month-stat span {

  color: #888;
}

.month-spent {

  margin-top: 14px;

  font-size: 12px;

  color: #ff9b7a;
}

.finance-entry-actions {

  display: flex;

  align-items: center;

  gap: 10px;
  margin-left: 12px;
}

.finance-delete-btn {

  border: none;

  background: none;

  cursor: pointer;

  opacity: .6;
}

.finance-delete-btn:hover {

  opacity: 1;
}

.finance-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.finance-form input {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: 1px solid rgba(255,255,255,.1);
  background: rgba(255,255,255,.04);
  color: white;
}

.finance-form input[type="date"] {
  color-scheme: dark;
}

.transaction-type {

  display: flex;

  gap: 10px;
}

.transaction-type button {

  flex: 1;

  padding: 12px;

  border-radius: 12px;

  border: none;

  background:
    rgba(255,255,255,.05);

  color: white;
}

.type-active {
  background: white !important;
  color: black !important;
}

.month-delete-btn {

  margin-bottom: 16px;

  width: 100%;

  padding: 12px;

  border: none;

  border-radius: 14px;

  background: rgba(255,0,0,.15);

  color: #ff7b7b;

  cursor: pointer;
}

.delete-month-modal {

  position: fixed;

  left: 50%;
  top: 50%;

  transform:
    translate(-50%, -50%);

  width: 90%;
  max-width: 360px;

  padding: 28px;

  border-radius: 24px;

  background:
    rgb(32,32,35);

  border:
    1px solid rgba(255,255,255,.08);

  z-index: 9999;
}

.delete-title {

  font-size: 20px;

  font-weight: 600;

  margin-bottom: 12px;
}

.delete-description {

  color:
    rgba(255,255,255,.75);

  line-height: 1.6;

  font-size: 15px;
}

.delete-month-name {

  display: block;

  margin-top: 10px;
  margin-bottom: 10px;

  color: white;

  font-weight: 600;

  font-size: 17px;
}

.delete-actions {

  display: flex;

  gap: 12px;

  margin-top: 28px;
}

.delete-actions button {

  flex: 1;

  height: 48px;

  border: none;

  border-radius: 14px;

  color: white;

  background:
    rgba(255,255,255,.08);
}

.danger-btn {

  background:
    rgba(255,0,0,.14);

  color:
    rgb(255,120,120);
}

.finance-modal-header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 20px;
}

.month-menu-btn {

  width: 36px;
  height: 36px;

  border: none;

  border-radius: 50%;

  background:
    rgba(255,255,255,.08);

  color: white;

  font-size: 24px;
}