#summary {
    overflow: hidden;
    width: 100vw;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.summaryTitle {
    font-size: 2rem;
    font-weight: 600;
    padding-top: 4rem;
    margin-bottom: 1rem;
}

.summaryDesc {
    font-size: 1.2rem;
    font-weight: 100;
    color: #a1a1aa; /* Will have to use this color as common for all desc/sub-desc on the site */
    line-height: 2rem;
    margin: 1rem;
}