#photoHero {
    display: flex;
    width: 100vw;
    max-width: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: auto;
    margin-right:  auto;
    padding-top: 100px;
    padding-bottom: 30px;
    /* margin-top: 5rem; */
    /* justify-content: center; */
    /* text-align: center; */
}

.photoHeroSummary {
    font-size: 1.5rem;
    font-weight: 600;
}

.judge {
    display: block;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #A61804;
}

/* Mobile screens */
@media (max-width: 600px) {
  .photoHeroSummary {
    font-size: 1.1rem;      /* smaller font size */
    white-space: nowrap;    /* force into one line */
    overflow: hidden;       /* hide overflow */
    text-overflow: ellipsis; /* add ... if too long */
    max-width: 95vw;        /* prevent overflow */
  }

  #photoHero {
    max-width: 95%;        /* allow wider text container */
  }
}