.bottom-nav {
  position: fixed;
  bottom: calc(20px + env(safe-area-inset-bottom));
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  padding: 15px 10px;

  background: #191919;
  backdrop-filter: blur(14px);

  border-radius: 28px;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);

  z-index: 999999;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 12px;
  color: white;

  cursor: pointer;

  padding: 6px 10px;
  border-radius: 14px;

  transition: all 0.2s ease;
}

.nav-item.active {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: 600;
}

.nav-item:hover {
  background: rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
}

.nav-item span {
  margin-top: 4px;
}

.nav-item.active {
  color: #7f7f7f;
  font-weight: 600;
  transform: scale(1.05);
}

.nav-item:active {
  transform: scale(0.92);
}